.wizard {
	width: 980px;
}

.wizard div.first-element  {
    border-radius: 5px 0 0 5px;
}

@sprite .wizard div {
	gwt-image: 'navButton';
	width: auto;
	background-position: right top;
	background-color:#01A0E2;
	background-repeat: no-repeat;
	float: left;
	height: 28px;
	list-style: none outside none;
}

.wizard div.inactive  {
	
}

.wizard div a em {
	font-size: 10px;
	font-weight:bold;
	display: block;
	font-style: normal;
	margin: 6px 0 0 2px;
	color: white;
	width: 203px;
}

.wizard div a span {
}

@sprite .wizard div.done  {
	gwt-image: 'navDoneButton';
	background-color: #C36615;
	width: auto;
	background-position: right top;
	
}

@sprite .wizard div.last-done {
	gwt-image: 'navLastDoneButton';
	background-color: #C36615;
	width: auto;
	background-position: right top;
	
}

@sprite .wizard div.active {
	gwt-image: 'navCurrentButton';
	background-color: #65C000;
	width: auto;
	background-position: right top;
	
}

.wizard div.last-element  {
	background-image: none;
	float: none;
	border-radius: 0 5px 5px 0;	
	width: auto;
}

.wizard div:hover {
	text-shadow: none;
	text-decoration: none;
}

@external wizard, last-element, active, last-done, done, inactive, first-element;