/** Add css rules here for your application. */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!	UserRenderer related css Starts here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.housyingsoc-user-renderer {
	border: medium solid black;
	height: 100px;
	width: 350px;
	background: none repeat scroll 0 0 white;
	border-radius: 10px 10px 10px 10px;
}

.housyingsoc-user-renderer img {
	height: 60px;
	padding: 20px;
	width: 60px;
}

.rightpan {
	float: left;
	height: 100px;
	width: 246px;
}

.rightpan div {
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 250px;
}

.wing-flatno-type {
	float: left;
	height: 30px;
	width: 250px;
}

.housyingsoc-userWid span {
	width: 80px;
	padding: 10px;
}

.leftpan {
	float: left;
	height: 100px;
	width: 100px;
}

.housyingsoc-userWid .gwt-Anchor {
	color: blue;
	height: 100px;
	margin-left: 97px;
	width: 100px;
	cursor: pointer;
	width: 100px;
}

.clear {
	clear: both;
}
/*------------------UserRenderer related css Endss here-------------*/

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}